a {
  color: #60a859;
}
a:hover,
a:focus {
  color: #9bda6a;
}
button,
.button {
  background-color: #60a859;
}
button:hover,
.button:hover,
button:focus,
.button:focus {
  background-color: #9bda6a;
}
footer,
.footer {
  padding: 20px 0 0;
  background-color: #333;
  color: white;
}
footer p,
.footer p,
footer a,
.footer a {
  font-size: 0.8125rem;
  color: white;
}
footer .row,
.footer .row {
  height: auto;
  width: 100%;
}
#color {
  color: #60a859;
}
.splash-header {
  background-color: #007148;
  color: white;
  padding-top: 120px;
  padding-bottom: 120px;
}
.splash-header h1 {
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
}
.splash-header h1,
.splash-header h3 {
  color: white;
}
.splash {
  padding: 50px;
  color: white;
  background-color: #007148;
}
.splash h2,
.splash h3 {
  color: white;
}
.splash-alt {
  padding: 50px;
}
.circular {
  display: block;
  width: 80%;
  height: 80%;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  box-shadow: 2px 3px 4px 1px #333;
  -webkit-box-shadow: 2px 3px 4px 1px #333;
  -moz-box-shadow: 2px 3px 4px 1px #333;
  margin: 30px auto 20px auto;
}
.name,
.role {
  text-align: center;
}
.blog-header {
  background-color: #9bda6a;
  color: white;
  padding: 120px 0 120px;
}
.blog-header h1 {
  text-align: center;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
}
.blog-header h1,
.blog-header h3 {
  color: white;
}
.blog {
  padding: 15px 0 15px;
}
.top-bar-section li.active:not(.has-form) a:not(.button) {
  background: #60a859;
}
.top-bar-section li.active:not(.has-form) a:not(.button):hover {
  background: #4d8747;
}
.left-off-canvas-menu {
  -webkit-backface-visibility: hidden;
  background-color: aliceblue;
}
.graph {
  background-color: #d4f79f;
  line-height: 0;
}
.menu {
  height: 45px;
  background-color: #333333;
}
.menu .button.tiny {
  margin-left: 8px;
  top: calc(-15%);
}
.menu audio {
  height: 33px;
  margin-left: 8px;
  position: relative;
  top: calc(8%);
}
.menu span button {
  margin-bottom: 0;
}
.menu span .song-info {
  color: white;
  position: relative;
  top: calc(-10%);
}
.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
}
.fade.in {
  opacity: 1;
}
.reveal-modal.fade {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
}
.reveal-modal.in {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.reveal-modal-bg.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.reveal-modal-bg.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.tutorial {
  margin-top: 6px;
  padding-right: 150px;
  float: right;
}
.tutorial .button {
  float: right;
}
