#splash-header {
  background-color: #007148;
  color: white;
  padding: 120px;
}
#splash-header h1 {
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
}
#splash-header h1,
#splash-header h3 {
  color: white;
}
.splash {
  padding: 60px;
  color: white;
  background-color: #007148;
}
.splash h2,
.splash h3 {
  color: white;
}
.splash-alt {
  padding: 60px;
}
#color {
  color: #60a859;
}
a {
  color: #60a859;
}
a:hover,
a:focus {
  color: #9bda6a;
}
button,
.button {
  background-color: #60a859;
}
button:hover,
.button:hover,
button:focus,
.button:focus {
  background-color: #9bda6a;
}
.top-bar-section li.active:not(.has-form) a:not(.button) {
  background: #60a859;
}
.top-bar-section li.active:not(.has-form) a:not(.button):hover {
  background: #4d8747;
}
.circular {
  width: 80%;
  height: 80%;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}
#messages {
  color: #d3d3d3;
}
.sidebar {
  background-color: #b2d1c8;
  margin-top: 0;
  width: 23vw;
  margin-right: 0;
  z-index: 10000;
}
.infopanel {
  background-color: #b2d1c8;
  left: 50px;
}
.graph {
  background-color: #857d87;
  margin-top: 20px;
  margin-bottom: 20px;
}
table {
  table-layout: fixed;
  width: 250px;
}
th,
td {
  overflow: hidden;
  width: 100px;
}
