#messages {
  color: #d3d3d3;
}
body {
  background-color: #b2d1c8;
}
.wrapper{
	height:80vh;
}
.sidebar {
  background-color: #b2d1c8;
  margin-top: 0;
}
.infopanel {
  background-color: #b2d1c8;
  float: right;
}
.graph {
  background-color: #857d87;
  margin-top: 20px;
  margin-left: 80px;
}
