#splash-header {
  background-color: #007148;
  color: white;
  padding-top: 120px;
  padding-bottom: 120px;
}
#splash-header h1 {
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
}
#splash-header h1,
#splash-header h3 {
  color: white;
}
.splash {
  padding: 60px;
  color: white;
  background-color: #007148;
}
.splash h2,
.splash h3 {
  color: white;
}
.splash-alt {
  padding: 60px;
}
#color {
  color: #60a859;
}
#blog-header {
  background-color: #9bda6a;
  color: white;
  padding: 120px 0 120px;
}
#blog-header h1 {
  text-align: center;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
}
#blog-header h1,
#blog-header h3 {
  color: white;
}
.blog {
  padding: 15px 0 15px;
}
a {
  color: #60a859;
}
a:hover,
a:focus {
  color: #9bda6a;
}
button,
.button {
  background-color: #60a859;
}
button:hover,
.button:hover,
button:focus,
.button:focus {
  background-color: #9bda6a;
}
.top-bar-section li.active:not(.has-form) a:not(.button) {
  background: #60a859;
}
.top-bar-section li.active:not(.has-form) a:not(.button):hover {
  background: #4d8747;
}
.circular {
  width: 80%;
  height: 80%;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}
#messages {
  color: #d3d3d3;
}
.sidebar {
  background-color: #b2d1c8;
  margin-top: 0;
  width: 23vw;
  margin-right: 0;
  z-index: 10000;
}
.left-off-canvas-menu {
  -webkit-backface-visibility: hidden;
  background-color: aliceblue;
}
.graph {
  background-color: #d4f79f;
}
table {
  table-layout: fixed;
  width: 250px;
}
th,
td {
  overflow: hidden;
  width: 100px;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
}
.fade.in {
  opacity: 1;
}
.reveal-modal.fade {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
}
.reveal-modal.in {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.reveal-modal-bg.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.reveal-modal-bg.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
footer,
.footer {
  padding: 20px 0 0;
  background-color: #333;
  color: white;
}
footer p,
.footer p,
footer a,
.footer a {
  font-size: 0.8125rem;
  color: white;
}
footer .row,
.footer .row {
  height: auto;
  width: 100%;
}
