#color {
  font-color: #008CBA;
  color: #008CBA;
  font-style: italic;
}
#splash-header {
  padding: 120px;
}
.splash {
  padding: 60px;
  border-top: 3px solid grey;
}
.splash-alt {
  padding: 60px;
  background-color: white;
  border-top: 3px solid grey;
}
.circular {
  width: 80%;
  height: 80%;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}
#messages {
  color: #d3d3d3;
}
body {
  background-color: #b2d1c8;
}
.sidebar {
  background-color: #b2d1c8;
  margin-top: 0;
  width: 23vw;
  margin-right: 0;
  z-index: 10000;
}
.infopanel {
  background-color: #b2d1c8;
  left: 50px;
}
.graph {
  background-color: #857d87;
  margin-top: 20px;
  margin-bottom: 20px;
}
table {
  table-layout: fixed;
  width: 250px;
}
th,
td {
  overflow: hidden;
  width: 100px;
}
